
<mat-toolbar class="tool" color="primary">
    <mat-toolbar-row>
      <span>KEEP NOTE</span>
      <span class="register_button"> 
        <button mat-flat-button>Register</button>      
      </span>
      <span class="login_button">
          <button mat-flat-button>Login</button>
      </span>
    </mat-toolbar-row>
 
<!-- 
    <mat-toolbar-row>
        <span>Third Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon">favorite</mat-icon>
        <mat-icon class="example-icon">delete</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar> -->